.vscode/
data/*
data/model_metadata/*
*.egg-info
__pycache__
deprecated.py
.vector_cache
lstms.pth/

!data/merge_csv_files.py
!data/train_val_test_split.py
!data/model_metadata/
!data/model_metadata/training_progress/